@import './src/sass/variables';
@import './src/sass/components/fonts';
@import './src/sass/components/forms';
@import './src/sass/components/buttons';
@import './src/sass/components/screen-auth';

html{
    font-size: 55%;
}

b {
    font-family: Poppins-Bold !important;
}

.pushable>.pusher{
    overflow: visible !important;
}

a {
    color: #A1A0A0 !important;
}

.ui.secondary.pointing.menu {
    border-bottom: solid !important;
    border-bottom-width: 1px !important;
    border-bottom-color: rgba(118, 118, 118, 0.1) !important;
}

* {
    -webkit-overflow-scrolling: touch;
}

* ::-webkit-scrollbar {
    display: none;
  }

.ui.segment{
    border-radius: 0;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.align-center{
    text-align: center;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}


.container {
    height: 100vh;
}


.div1 {
    height: 100% !important;
}

.main-banner{
    position: relative;
}

.header-banner-mobile {
    padding: 0% 10% !important;
}

@media only screen and (max-width: 1149px) {
    .nomobile{
        display: none !important;
    }

    .justmobile{
        display: block !important;
    }

    .ui.grid.segment {
        margin-top: 0.7rem !important;
        margin-right: 0px;
        margin-bottom: 0.7rem !important;
        margin-left: 0px;
    }
}



@media only screen and (min-width: 1150px) {
    .nolarge{
        display: none !important;
    }

    .justlarge{
        display: block !important;
    }
}

@media only screen and (min-width: 767px) {
    .nomobile-device {
        display: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media only screen and (max-width: 766px) {
    .notablet-device {
        display: none !important;
    }
}

@media only screen and (max-width: 369px) {
    .what-text{
        font-size: 0.8em !important;
    }
}


.borderred{
    border: 2px solid red !important; 
    transition: 500ms;
}