@import '../sass/common';

.main-content-app{
  &__no-logged{
    height: 100vh;

    &__banner{
      height: 8vh;
      display: flex;
      align-items: center;

      &__logo{
        width: 7rem;
        margin-left: 2rem !important;
        margin-right: 4rem !important;
      }

      &__menu-option{
        font-family: Poppins-SemiBold;
        font-size: 1.5rem;
        color: #365E80 !important;
        letter-spacing: 0.12px;
        text-align: center;
      }

      &__menu-option2{
        font-family: Poppins-Regular;
        font-size: 1.5rem;
        color: #A1A0A0;
        letter-spacing: 0;
      }

      &__left{
        display: flex;
        align-items: center;
        width: 70%;
      }

      &__right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 30%;

        &__item{
          margin: 0 1rem;
        }

        &__itemMenu{
          margin: 0 1.5rem;
        }
      }
    }
    &__page{
      height: 92vh;
      overflow-y: scroll;
    }
  }
}

.ui.menu .ui.dropdown .menu>.item {
  font-family: Poppins-Regular !important;
  font-size: 1.5rem !important;
  color: #A1A0A0 !important;
  letter-spacing: 0 !important;
}

.mobileMain{
  &__landing{
    position: relative;

      &__header{
        position: fixed;
        z-index: 100000;
        width: 100%;
        background: white;
        padding-top: 2rem;
        height: 6rem;
  
          &__image{
              margin-left: 1rem !important;
              height: 4rem;
              margin-bottom: 1rem;
          }

          &__menu{

            &__header{
              width: 100%;
              background: #1DC1C1;
              display: flex;
              padding: 5rem 3rem;
              align-items: center;
              justify-content: flex-end;

              &__user{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                &__pic{
                  width: 3rem;
                  margin-right: 1rem;
                }

                &__name{
                  display: flex;
                  align-items: center;
                }

                &__text{
                  font-family: Poppins-Regular;
                  font-size: 1.4rem;
                  color: #FFFFFF;
                  letter-spacing: 0;
                }
              }

              &__pic{
                width: 3rem;
              }
            }
            &__content{
                text-align: left;
                display: flex;
                flex-direction: column;
                padding: 7rem 4rem;
        
                &__option{
                    font-family: Poppins-Regular !important;
                    font-size: 1.6rem !important;
                    color: #808080 !important;
                    letter-spacing: 0.12px !important;
                    margin-bottom: 2rem;
                }
            }
          }
      }

      &__menu{
        &__footer{
          // position: absolute;
          // bottom: 0;
          width: 100%;
          padding: 3rem;
          font-family: Poppins-Regular;
          font-size: 1.6rem;
          color: #4A4A4A;
          letter-spacing: 0.9px;
          background: #EFECEC;
        }
      }
  }
}