.button {
  cursor: pointer;
  font-family: Poppins-Medium;
  letter-spacing: 1.65px;
  text-align: center;
  box-shadow: 0 14px 27px 0 rgba(234,252,223,0.40);
  text-transform: uppercase;

  &__grey{
    background: #dadfe3;
    width: 15rem;
    height: 3rem;
    margin: 0 2rem;
  }

  &__grey__mobile{
    background: #dadfe3;
    width: 5rem;
    height: 3rem;
    margin: 0 2rem;
  }

  &__large{
    background: #adb2b8;
    width: 20rem;
    height: 5rem;
    margin: 0 2rem;
    color: #ffffff;
    cursor: pointer;
  }

}