@font-face {
   font-family: Poppins-SemiBold;
   src: url('/assets/fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
   font-family: Poppins-Bold;
   src: url('/assets/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
   font-family: Poppins-BoldItalic;
   src: url('/assets/fonts/Poppins/Poppins-BoldItalic.ttf');
}

@font-face {
   font-family: Poppins-Regular;
   src: url('/assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
   font-family: Poppins-Medium;
   src: url('/assets/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
   font-family: Poppins-Light;
   src: url('/assets/fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
   font-family: Poppins-Black;
   src: url('/assets/fonts/Poppins/Poppins-Black.ttf');
}

.font-primary{
   color: $primary-blue;
}

.cursor{
   cursor: pointer;
}