<div class="ui stackable no-margin main-content__no-logged" *ngIf="isLarge">
  <div class="ui row grid no-margin">
    <div class="three wide column no-padding"></div>
    <div class="ten wide column no-padding">
      <div class="main-content__no-logged__banner">
        <div class="main-content__no-logged__banner__row_one">
          <img class="main-content__no-logged__banner__row_one__image" src="/assets/images/logo.png">
          <div class="main-content__no-logged__banner__row_one__button-container">
            <button class="button__grey"></button>
            <button class="button__grey"></button>
            <button class="button__grey"></button>
          </div>
        </div>
      </div>
      <div class="main-content__no-logged__simulator">
        <div class="main-content__no-logged__simulator__fields">
          <input class="input-simulator" currencyMask [(ngModel)]="value" [options]="{ prefix: '€ ', precision: 4 }" placeholder="€ 0.0000"/>
          <input class="input-simulator" disabled currencyMask [(ngModel)]="result" [options]="{ prefix: '$ ', precision: 4 }" placeholder="$ 0.0000"/>
        </div>

        <div class="main-content__no-logged__simulator__button">
          <button class="button__large" (click)="price()">CALCULATE</button>
        </div>
      </div>
      <div class="main-content__no-logged__space"></div>
      <div class="main-content__no-logged__footer">
        <img class="main-content__no-logged__footer__image" src="/assets/images/text.png">
        <img class="main-content__no-logged__footer__image" src="/assets/images/text.png">
        <img class="main-content__no-logged__footer__image" src="/assets/images/text.png">
        <img class="main-content__no-logged__footer__image" src="/assets/images/text.png">
      </div>
    </div>
    <div class="three wide column no-padding"></div>
  </div>
</div>

<div class="mobile" *ngIf="!isLarge">
  <div class="ui row grid no-margin">
    <div class="one wide column no-padding"></div>
    <div class="fourteen wide column no-padding">
      <div class="mobile__main-content__no-logged__banner">
        <div class="mobile__main-content__no-logged__banner__row_one">
          <img class="mobile__main-content__no-logged__banner__row_one__image" src="/assets/images/logo.png">
          <div class="mobile__main-content__no-logged__banner__row_one__button-container">
            <button class="button__grey__mobile"></button>
            <button class="button__grey__mobile"></button>
            <button class="button__grey__mobile"></button>
          </div>
        </div>
      </div>
      <div class="mobile__main-content__no-logged__simulator">
        <div class="mobile__main-content__no-logged__simulator__fields">
          <input class="input-simulator" currencyMask [(ngModel)]="value" [options]="{ prefix: '€ ', precision: 4 }" placeholder="€ 0.0000"/>
          <input class="input-simulator" disabled currencyMask [(ngModel)]="result" [options]="{ prefix: '$ ', precision: 4 }" placeholder="$ 0.0000"/>
        </div>

        <div class="mobile__main-content__no-logged__simulator__button">
          <button class="button__large" (click)="price()">CALCULATE</button>
        </div>
      </div>
      <div class="mobile__main-content__no-logged__space"></div>
      <div class="mobile__main-content__no-logged__footer">
        <img class="mobile__main-content__no-logged__footer__image" src="/assets/images/text.png">
        <img class="mobile__main-content__no-logged__footer__image" src="/assets/images/text.png">
      </div>
    </div>
    <div class="one wide column no-padding"></div>
  </div>
</div>

<ngx-loading [show]="loading" 
  [config]="{ backdropBorderRadius: '3px', primaryColour: '#ffffff', 
              secondaryColour: '#ffffff', 
              tertiaryColour: '#ffffff' }" 
  [template]="customLoadingTemplate"></ngx-loading>
