@import './src/sass/variables';

.main-content{
  &__no-logged{
    height: 100vh;

    &__banner{
      height: 25vh;
      display: flex;
      align-items: center;

      &__row_one{
        width: 100%;
        text-align: center;

        &__image{
          width: 8.5rem;
        }

        &__button-container{
          margin-top: 2rem;
        }
      }

      
      
    }

    &__simulator{
      height: 40vh;
      background: #dadfe3;

      &__fields{
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 10rem;
      }

      &__button{
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 10rem;
      }
    }

    &__space{
      height: 10vh;
    }

    &__footer{
      height: 25vh;
      background: #dadfe3;
      display: flex;
      align-items: center;
      justify-content: center;

      &__image{
        width: 20rem;
      }
    }

  }
}

.input-simulator{
  width: 30rem;
  text-align: center !important;
}

.mobile{
  &__main-content{
    &__no-logged{
      height: 100vh;
  
      &__banner{
        height: 25vh;
        display: flex;
        align-items: center;
  
        &__row_one{
          width: 100%;
          text-align: center;
  
          &__image{
            width: 8.5rem;
          }
  
          &__button-container{
            margin-top: 2rem;
          }
        }
        
      }
  
      &__simulator{
        height: 40vh;
        background: #dadfe3;
  
        &__fields{
          height: 70%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
        }
  
        &__button{
          height: 30%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          margin: 0 10rem;
        }
      }
  
      &__space{
        height: 10vh;
      }
  
      &__footer{
        height: 25vh;
        background: #dadfe3;
        display: flex;
        align-items: center;
        justify-content: center;
  
        &__image{
          width: 15rem;
        }
      }
  
    }
  }
}